#app{
width: 100%;
    height:800px;
    background-color: blueviolet;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
body{
    text-align: center;
}
#Game{
  width: 100%;
    height:800px;
    background-color: crimson;
}
img{
    transition: transform.2s;
}
img:hover{
    transform: scale(0.9);
}
#Chatbot{
  width: 100%;
    height:800px;
    background-color: orange;
}
#Mycarousel{
    background-color: chocolate;
}
#Mycarousel{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: azure;
    font-size: 20px;
}